@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-light: #ff4d67;
  --primary: #b8001c;
  --primary-dark: #2a0006;
  --secondary: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-light: #ff4d67;
    --primary: #b8001c;
    --primary-dark: #2a0006;
    --secondary: #111111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
